<nav class="navbar navbar-light bg-dark navbar-dark" style="margin-bottom: 25px;">
	  <a class="navbar-brand" href="index.php">SGR DGTIC</a>
	  <ul class="nav nav-pills">
	    <li class="nav-item dropdown">
	      <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Cuenta</a>
	      <div class="dropdown-menu">
	        <a class="dropdown-item" href="cierraSesion.php">Cerrar sesión</a>
	      </div>
	    </li>
	  </ul>
	</nav>